
.img-container img{
    width: 15%;
    height: 400px;
    margin: 10px;
}
.img-container{
    display: flex;
    flex-wrap: wrap;
}    
.news img{
    width: 200px;
    height: 200px;
}
.news{
    display: flex;
}
.leftside{
    width: 70%;
}
.rightside{
    width: 30%;
}
.down{
    display: flex;
}
@media  (max-width:1400px){
    .img-container img {
        width: 30%;
    }
}