a {
    text-decoration: none;
}
ul li{
    list-style: none;
}
body{
    max-width: 1280px;
    width: 100%;
    margin: auto;

}
nav{
    background-color: lightgreen;
    font-size: 24px;
}
nav ul{
    
    display: flex;
    justify-content: space-between;
    margin: 0;
}
nav p{
    display: none;
}
.menus{
    width: 70%;
    background-color: lightpink;
}
.container{
    display: flex;
}
.leftside{
    width: 30%;
    background-color: lightgrey;
    padding: 30px;
}
.leftside img{
    width: 100%;
  
}
.leftside a{
    display: block;
    font-size: 32px;
}
.rightside{
    width: 70%;
  
}
.leftside2{
    width: 30%;
    
}
.small{
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin: 20px;
}
.small:first-child{
    margin-top: 0;
}
.leftside2 img{
    width: 100px;
    
}
.leftside2 h1{
    margin: 0;
}
.rightside2{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.settings{
    width: 100%;
    background-color: aqua;
    
}
.main{
    display: flex;
}
.main img{
  width: 50%;
  
}
.right{
    display: flex;
   
}
.rightside2 {
    font-size: 24px;
    background-color: lightblue;
    padding: 30px;
}
.settings2{
    display: flex;
    justify-content: end;
    width: 100%;
    background-color: aqua;
   
}
.settings ul{
    display: flex;
    gap: 20px;
}
.settings ul li{
    background-color: lightgreen;
    font-size: 24px;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
    font-size: 24px;
}
@media (max-width:992px){
    .container{
        display: block;
    }
    .leftside{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .leftside img{
        width: 300px;
    }
    .leftside a{
        display: inline-block;
        margin: 30px;
    }
    .rightside{
        width: 100%;
    }
}
@media (max-width:576px){
    .menus{
        display: none;
    }
    nav p{
        display: block;
        background-color: pink;
    }
    .leftside{
        display: block;
    }
    .leftside img{
        display: block;
    }
    .leftside a{
        display: block;
        text-align: center;
    }
   .right{
    display: block;
   }
   .leftside2{
    width: 100%;
   }
   .rightside2{
    width: 100%;
    
   }
   
   .main{
    display: block;
   }
   .main img{
    width: 100%;
   }
   .settings ul{
    display: block;
   }
   .settings2{
    justify-content: center;
   }
   footer{
    display: block;
   }
   footer .row p1{
    display: block;
   }
}