body{
  max-width: 1280px;
  width: 100%;
  margin: auto;
}
h1{
    padding: 15px;
}
.img-container img{
    width: 16%;
    height: 380px;
   padding: 15px;
    border-radius: 30px;
    box-sizing: border-box;
}
.img-container{
    display: flex;
    flex-wrap: wrap;
    
}    
.news img{
    width: 200px;
    height: 200px;
    padding: 15px 15px 15px 0;
    border-radius: 40px;
}
.news{
    display: flex;
   
}
.leftside{
    width: 80%;
   padding: 15px;
    box-sizing: border-box;
 
    
    
  
}
.rightside{
    width: 20%;
    box-sizing: border-box;
    padding: 0 15px 15px 15px;
    background-color: lightgray;
    border-radius: 20px;
    margin: 15px 0;
}
.down{
    display: flex;
    flex-wrap: wrap;
  
}
@media  (max-width:1400px){
    .img-container img {
        width: 33.33%;
    }
    .leftside{
        width: 100%;
    }
    .rightside{
        width: 100%;
        margin: 15px;
    }
}
@media (max-width:768px){
    .img-container img{
        width: 100%;
    }
}